@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

.input-add form {
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  margin: 10px auto 10px auto;
  padding: 0.5rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.input-add:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input {
  border: none;
  padding: 0 10px 0 10px;
  background: transparent;
  width: 90%;
  color: #e0e0e0;
  font-size: 1.2rem;
  font-family: "Delicious Handrawn", cursive;
}

input[type="text"]:focus {
  outline: none;
}

.add-button {
  border: none;
  border-radius: 50%;
  height: 2.1rem;
  width: 2.1rem;
  background-color: #0d80fe;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.add-button:hover {
  background-color: #3dff43;
}

.line {
  width: 100%;
  border: 1px solid #5c6269;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
