@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

.card {
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  margin: 1rem 1.5rem 1rem 1.5rem;
  padding: 1rem;
  background-color: #feefc3;
  max-width: 400px;
  min-width: 250px;
  min-height: 200px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  border-bottom: 2px solid grey;
  font-size: 2rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Delicious Handrawn", cursive;
}

.icons {
  padding: 1px;
}

.edit,
.delete,
.edit-done {
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #0d80fe;
  color: white;
  margin: 0.1rem;
  font-size: 0.5rem;
  cursor: pointer;
  outline: none;
}

.delete:hover {
  background-color: red;
}

.task {
  padding: 1rem;
  width: 100%;
  color: black;
  overflow: hidden;
  font-size: 1.2rem;
  font-family: "Delicious Handrawn", cursive;
}

.edit-input {
  border-bottom: 2px solid #908d8d;
  color: black;
  width: 80%;
  margin-right: 0.5rem;
}
